body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#0e3a5b;   /* bleu foncé */
  color:#fff;
}

header {
  background:#052238;
  padding:15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

header .logo {
  width:80px;
  height:auto;
}

nav a {
  color:#fff;
  margin:0 10px;
  text-decoration:none;
}

nav a.active, nav a:hover {
  text-decoration:underline;
}

main {
  background:#fff;
  color:#333;
  max-width:900px;
  margin:20px auto;
  padding:20px;
  border-radius:10px;
}

footer {
  background:#052238;
  text-align:center;
  padding:10px;
  margin-top:20px;
}